<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<title>ГЛАВНАЯ</title>


 <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css')}}">
 <script src="css/js.js"></script>
 

</head>
<body>
<div id="wrapper">
    <div id="header">
     <div class="text3d-wrap-1">
    <span class="text3d-1">ОБЪЁМНЫЕ ФИГУРЫ</span>
</div>
       
<img src="static/q.gif" vspace="10" border="" align="middle" hspace="50" width="200">
    </div>
    <div id="sidebar">
	<font size="4" color="black" face="Candara Light">
	Всем привет! Данный сайт был разработал милым прогером Анютой) предназначен для вычисления объёма фигур с разной точностью.
	</font>
    </div>

	
    <div class="clear"></div>
    <div id="footer">


	
<table bordercolor="white"  align="center" width="600" height="600">
   <tr>
  
    <td align="center"><a href="2.html"; style="text-decoration:none"> <strong><font size="5" color="white" face="courier" >КОНУС</font></strong></a></td>
	</tr>
	<tr>
    <td align="center"><a href="3.html"; style="text-decoration:none"><strong><font size="5" color="white" face="courier" >ШАР</font></strong></a></td>
	
	</tr>
	<tr>
    <td align="center"><a href="4.html"; style="text-decoration:none"><strong><font size="5" color="white" face="courier" >ПИРАМИДА</font></strong></a></td>
	
	</tr>
	<tr>
    <td align="center"><a href="5.html"; style="text-decoration:none"><strong><font size="5" color="white" face="courier" >УСЕЧЕННАЯ <br>ПИРАМИДА</font></strong></a></td>
	<td align="center"><strong><font size="5" color="white" face="courier" >
	
	</tr>
	<tr>
    <td align="center"><a href="6.html"; style="text-decoration:none"><strong><font size="5" color="white" face="courier">ПРИЗМА</font></strong></a></td>
	<td align="center"><strong><font size="5" color="white" face="courier" >
	
	</tr>
	<tr>
    <td align="center"><a href="7.html"; style="text-decoration:none"><strong><font size="5" color="white" face="courier" >ЦИЛИНДР</font></strong></a></td>
	<td align="center"><strong><font size="5" color="white" face="courier" >
	
	</p>
	</tr>
</div>
  </div>
</body>
</html>
