<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<title>ШАР</title>


	



</head>
<body>
  <div id="wrapper">
    <div id="header">
     <div class="text3d-wrap-1">
    <span class="text3d-1">ОБЪЁМНЫЕ ФИГУРЫ</span>
</div>
       <p class="descript" class="nubex"><b><strong></strong></b> </p>
<img src="static/q.gif" vspace="10" border="" align="middle" hspace="50" width="200">
    </div>
    <div id="sidebar">
	<font size="4" color="black" face="Candara Light">
	Всем привет! Данный сайт был разработал милым прогером Анютой) предназначен для вычисления объёма фигур с разной точностью.
	</font>
    </div>
	<div id="content">
	<p class="striped-shadow" ><strong><font size="7">ШАР</font></strong></p>
	<br><a href="http://127.0.0.1:5000"; style="text-decoration:none"><p class="striped-shadow" ><strong><font size="7">ВЕРНУТЬСЯ<br>НА ГЛАВНУЮ</font></strong></p></a>
    </div>
    <div class="clear"></div>
    <div id="footer">
	
	<font size="7" color="black" face="Candara Light">
	<br>
	V= 4/3пR^3

	</font>
	<br>
	<form action="" method="post">
	<input type="text" name="num_4" placeholder="радиус в м" required>
		<br>
	<input type="text" name="num_5"  placeholder="точность в м" required>
	<br>
	<input type="submit">
	</form>
	<strong><font size="5" color="white" face="courier" ><h1>{{ans2}}</h1></font></strong>
	</div>
	
</body>
</html>
