<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<title>УСЕЧЕННАЯ</title>


	





</style>
</head>
<body>
  <div id="wrapper">
    <div id="header">
     <div class="text3d-wrap-1">
    <span class="text3d-1">ОБЪЁМНЫЕ ФИГУРЫ</span>
</div>
       <p class="descript" class="nubex"><b><strong></strong></b> </p>
<img src="static/q.gif" vspace="10" border="" align="middle" hspace="50" width="200">
    </div>
    <div id="sidebar">
	<font size="4" color="black" face="Candara Light">
	Всем привет! Данный сайт был разработал милым прогером Анютой) предназначен для вычисления объёма фигур с разной точностью.
	</font>
    </div>
	<div id="content">
	<p class="striped-shadow" ><strong><font size="7"> УСЕЧЁННАЯ ПИРАМИДА</font></strong></p>
	<br><a href="http://127.0.0.1:5000"; style="text-decoration:none"><p class="striped-shadow" ><strong><font size="7">ВЕРНУТЬСЯ<br>НА ГЛАВНУЮ</font></strong></p></a>
    </div>
    <div class="clear"></div>
    <div id="footer">
	
	<font size="7" color="black" face="Candara Light">
	<br>
	V=⅓H(Sниж+√(Sниж+Sверх)+Sверх)
	</font>
	<br>
	<form action="" method="post">
	<input type="text" name="num_9"  placeholder="высоту в м" required>
		<br>
	<input type="text" name="num_10"  placeholder="площаль верхнего основания в м" required>
		<br>
		<input type="text" name="num_11"  placeholder="площаль нижнего основания в м" required>
		<br>
	<input type="text" name="num_12" required placeholder="точность в м" />
	<br>
	<input type="submit">
	</form>
	<strong><font size="7" color="white" face="courier" >{{ans4}}</font></strong>
	</div></font></strong>
	</div>
	
</body>
</html>
